#bg {
    background: url(../../img/1.jpg) no-repeat center center fixed  ;
    background-size: cover;
    height: 100vh;    
}

.welcome{
  color: black;
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerItems{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.headerItemsTrack{
    color: rgba(8, 29, 11, 0.706);
    font-weight: 800;
    
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerItemsTrack:hover{
  color: rgba(64, 64, 64, 0.585);
  transition-duration: 0.3s;
  text-decoration: none;
}
.trackOrder{
    color: rgba(0, 0, 0, 0.842);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
    font-weight: bold;
  }

.headerItems:hover{
    color: rgb(77, 77, 77);
    transition-duration: 0.3s;
    text-decoration: none;
}

/* order textField track your oreder*/
.blackButton{
    color: white;
    background-color: black;
    border: none;
    padding: 10px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.blackButton:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.792);
    border: none;
    padding: 10px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* order textField track your oreder*/
.textField{
  background-color: rgba(251, 251, 251, 0.625);
  border-radius: 0px;
  border:none;
  padding: 10px 20px;
  padding: 7px 5px ;
  width: 100%;
 
}
.textField:focus{
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  border:none;
  padding: 10px 20px;
  padding: 7px 5px ;
}
.whiteButton{
  color: black;
  background-color: rgba(255, 255, 255, 0.635);
  border: none;
  font-weight: bold;
  padding: 10px 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.whiteButton:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.439);
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    color: black; /* Black*/
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }