<!doctype html>
<html>
<head>

  <title>Paintiro-About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--  bootstrap links-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
	
  <link rel="stylesheet" href="css/general/general.css">
  <link rel="stylesheet" href="css/components/header2.css">
  <link rel="stylesheet" href="css/components/footer.css">
  <link rel="stylesheet" href="../css/pages/about.css">

</head>

<body>
<div class="" >  
    <div>  
        <div id="bg">
            <div class="container">
              
              <div class="flex-container-space-between">
                    <!-- Use any element to open the sidenav -->
                
                <div class=" margin-top-10px">
                  <img src="../../img/blackLogo.png" alt="" height="60px">
                </div>
                
              </div>
              </div>
              </div>
    <div class="container " style="margin-top:-100px ;">
  
<section class="about-section">
    	<div class="container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                    		<div class="title">About Us</div>
                        <h2> PAINTIRO </h2><br>  <h3>is a Professional Arts Platform</h3>
                        </div>

                        <div class="text">

                          We will provide you ARTS (abstract Arts), which you will like very much. We're dedicated to providing you the best of <span id="W_Type2">Arts</span>, with a focus on dependability and <span id="W_Spec">Drawing Arts</span>. We're working to turn our passion for <span id="W_Type3">Arts</span> into a booming <a href="https://www.blogearns.com/2021/05/free-about-us-page-generator.html" rel="do-follow" style="color: inherit; text-decoration: none;">online website</a>. We hope you enjoy our <span id="W_Type4">Arts</span> as much as we enjoy offering them to you.</p>
                          <p>We will keep posting more ARTS on our Website for all of you. Please give your support and love.</p>
                          <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>

</div>
                        <div class="email">Contact us: <span class="theme_color">paintiro@gmail.com</span></div>
                        
                        <a href="../../shop" class="theme-btn btn-style-three">SHOP NOW!!</a>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="image">
                        	<img src="img/home/3.jpg" alt="">
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


        
     

    </div>
    </div>
    <div>
        <%- include('../includes/footer'); %>
        
    </div>
</div>
    

</body>
</html>
