<!doctype html>
<html>
<head>

  <title>Paintiro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--  bootstrap links-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
  <link rel="stylesheet" href="../css/general/general.css">
  <link rel="stylesheet" href="../css/components/header2.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/pages/order.css">
  

</head>

<body>
  <div>

  
  <div>
  <%- include('../includes/header2'); %>

  <div class=" margin-top-20 margin-bottom-30px">
    

    <div class="card">
      <div class="title">Purchase Reciept</div>
      <br>
      <div class="title flex-container-center">
        <div>
           OPPS!!!! THE ORDER WITH THIS NUMBER DOES NOT FOUND.
        </div>
    </div>
        
      

  </div>
  </div>

  
  <%- include('../includes/footer'); %>
</div>



</body>
</html>
